/* Estilo para a seção Contact */
.contact {
  margin-top: 100px;
  background-color: #1a1a1a; /* Fundo escuro */
  padding: 40px 20px;
  border-radius: 15px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  text-align: center;
}

/* Título da seção Contact */
.contact h2 {
  color: #F5F5F5;
  font-size: 2.5rem;
  margin-bottom: 30px;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-bottom: 3px solid #D4AF37;
  padding-bottom: 10px;
}

/* Descrição do contato */
.contact-description {
  color: #F5F5F5;
  font-size: 1.1rem;
  margin-bottom: 20px;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.5;
}

/* Estilo para a área de contatos */
.contact-info {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-bottom: 30px;
  flex-wrap: wrap;
}

/* Estilo para cada item de contato */
.contact-item {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #D4AF37;
  font-size: 1.1rem;
  transition: transform 0.3s ease;
}

.contact-item:hover {
  transform: scale(1.1);
}

/* Estilo para os ícones de contato */
.contact-icon {
  font-size: 1.8rem;
  color: #D4AF37;
  transition: color 0.3s ease;
}

.contact-item:hover .contact-icon {
  color: #b78d28; /* Cor do ícone ao passar o mouse */
}

/* Estilo para o texto de contato */
.contact-text {
  font-size: 1.2rem;
  color: #F5F5F5;
}

/* Estilo para o botão Entrar em Contato */
.contact-button {
  background-color: #D4AF37;
  color: #1a1a1a;
  padding: 12px 25px;
  border: none;
  border-radius: 8px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 20px;
}

.contact-button:hover {
  background-color: #b78d28;
}

/* Media Queries para Responsividade */

/* Para telas de 768px ou menores (tablets e celulares grandes) */
@media (max-width: 768px) {

  .contact h2 {
    font-size: 2rem;
  }

  .contact-info {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .contact-item {
    font-size: 1rem;
  }

  .contact-icon {
    font-size: 1.6rem;
  }
}

/* Para telas de 480px ou menores (celulares pequenos) */
@media (max-width: 480px) {
  .contact h2 {
    font-size: 1.6rem;
  }

  .contact-description {
    font-size: 1rem;
  }

  .contact-info {
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }

  .contact-item {
    font-size: 1rem;
  }

  .contact-icon {
    font-size: 1.5rem;
  }
}
