/* Evitar rolagem */
html, body {
  height: 100%; /* 100% de altura para preencher toda a tela */
  margin: 0; /* Remover margens padrão */
  
}

/* Header fixo com transparência */
.header {
  position: fixed; /* Fixa o header no topo da página */
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7); /* Preto com 70% de opacidade */
  color: #FF0000;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  
  box-shadow: 0 4px 6px rgba(255, 0, 0, 0.5);
  border-bottom: 2px solid #FF4C4C;
  z-index: 999; /* Garante que o header fique por cima do conteúdo */
}

.logo {
  font-family: 'Lato', sans-serif;
  font-size: 2em;
  font-weight: bold;
  margin-left: 20px;
  color: #ffffff;
}

nav {
  font-family: 'Lato', sans-serif;
  margin-right: 20px;
}

nav a {
  color: #D3D3D3;
  text-decoration: wavy;
  margin: 0 15px;
  font-size: 1.1em;
  transition: color 0.3s, text-shadow 0.3s;
}

nav a:hover {
  color: #ffee00;
}


/* Media Queries para Responsividade */
@media (max-width: 768px) {
  .header {
    position: relative;
    flex-direction: column;
    padding: 10px;
    align-items: center;
  }

  .logo {
    font-size: 1.5em;
    margin-left: 0;
    text-align: center;
    margin-bottom: 10px;
  }

  nav {
    width: 100%;
    text-align: center;
  }

  nav a {
    display: block;
    margin: 10px 0;
    font-size: 1.2em;
  }
}

@media (max-width: 480px) {
  .logo {
    font-size: 1.2em;
  }

  nav a {
    font-size: 1em;
  }
}